
@import 'base';
@import 'custom-style';




@font-face {
    font-family: "SFPro Medium";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/SFPro/SFProDisplay-Medium.eot);
    src: url(../fonts/SFPro/SFProDisplay-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/SFPro/SFProDisplay-Medium.woff) format("woff"), url(../fonts/SFPro/SFProDisplay-Medium.ttf) format("truetype")
}

@font-face {
    font-family: "SFPro Regular";
    font-style: normal;
    src: url(../fonts/SFPro/SFProDisplay-Regular.eot);
    src: url(../fonts/SFPro/SFProDisplay-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/SFPro/SFProDisplay-Regular.woff) format("woff"), url(../fonts/SFPro/SFProDisplay-Regular.ttf) format("truetype")
}


@font-face {
    font-family: "SFPro Bold";
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/SFPro/SFProDisplay-Bold.eot);
    src: url(../fonts/SFPro/SFProDisplay-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/SFPro/SFProDisplay-Bold.woff) format("woff"), url(../fonts/SFPro/SFProDisplay-Bold.ttf) format("truetype")
}


